* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

header {
    background-image: url(https://immisquare.com/images/hero-bg3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}


#navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

/* LOGO */

nav #navigation a img {
    padding: 10px;
}

/* Hamburger */

#right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    /* background-color: black; */
    position: fixed;
    right: 1.3rem;
    padding: 10px;
}

#right span {
    color: rgb(75, 218, 189);
    padding: 0 5px;
    font-size: 1.2rem;
}

#right:hover span {
    color: #fff;
    transition: .5s;
}

#hamburger span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background-color: #fff;
}

/* Content */

#details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

#content {
    color: #fff;
    width: 70%;
    line-height: 5rem;
    padding: 4rem 4rem;
}

#content h5 {
    font-size: 1.5rem;
    color: grey;
}

#content p {
    font-size: 4.5rem;
    color: blue;
}

#smallbuttons-images {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1.5rem 0;
}

#smallbuttons-images a.smallbuttons {
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    padding: 10px 15px;
    margin: 0 5px;
    font-size: 1.2rem;
    font-weight: bolder;
    text-transform: uppercase;
    transition: all 0.5s linear;
}

#smallbuttons-images a.smallbuttons:hover {
    background-color: #fff;
    color: #000;
}

#smallbuttons-images .small-images {
    border: 2px solid #fff;
    padding: 5px 10px;
    margin: 0 5px;
}

/* Social Links */

#socialprofile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 1rem;
}

.links {
    margin: 1rem 0;
}

.links:hover {
    scale: 1.4;
    transition: .5s;
}

.links a {
    font-size: 1rem;
    padding: 10px 10px;
    border: 2px solid white;
    border-radius: 50%;
    margin: 5px 0;
}

.links a i {
    color: #fff;
}


.links span {
    display: none;
    color: blueviolet;
}

.links .links:hover span {
    display: block;
}

/* ************************************************************************* */
/* SECTION */

section {
    padding: 2rem 5rem;
}

section h4 {
    text-align: center;
    font-size: 1.4rem;
    color: blue;
}

section #section-title {
    text-align: center;
    font-size: 5rem;
    padding: 10px 0;
}

section p.content {
    text-align: center;
    padding: 1rem 0;
    margin: 0 10rem;
    width: auto;
    font-size: 1.4rem;
    line-height: 1.5;
}

section #bottom-part {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 0;
}

section #bottom-part #project-completed,
section #bottom-part #happy-clinets {
    font-size: 2rem;
}

section #bottom-part #project-completed h1,
section #bottom-part #happy-clinets h1 {
    text-align: center;
}


section #bottom-part #project-completed p,
section #bottom-part #happy-clinets p {
    font-size: 1.4 rem;
}

/* *************************************************************** */
/* SECTION (migration-countries) */

#migration-countries {
    background: linear-gradient(to right bottom, #f1f1f1 0, #fff 50%, #e6e6e6 50%);
    padding: 5rem 0;
}

#top-content {
    padding: 4rem;
}

#top-content h4 {
    text-align: center;
    color: skyblue;
    text-transform: uppercase;
    padding-bottom: 0.5rem;
}

#top-content p {
    text-align: center;
    color: gray;
    font-size: 1.3rem;
    padding: 0.5rem 0;
}

#top-content h1 {
    text-align: center;
    margin: 0 5rem;
    font-size: 3rem;
}

#bottom-content {
    margin: 0 10%;
}

#countries {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: auto;
}

.country {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.country img {
    height: 80px;
    padding: 0 1rem;
}

.country a {
    color: blue;
    font-size: 1.7rem;
    font-weight: bolder;
}